<div class="container">
    <div class="content">
        <img src="./assets/images/logo2.png" width="180" style="padding-top: 15px; padding-bottom: 15px;" />
        <button nzSize="large" nz-button nzType="primary" color="accent" nzBlock class="full-btn" style="margin-top: 15px;" routerLink="/view-heroes">Heroes</button>
        <button nzSize="large" nz-button nzType="primary" color="accent" nzBlock class="full-btn" style="margin-top: 15px;" routerLink="/whack-heroes">Whack Heroes</button>
        <button nzSize="large" nz-button nzType="primary" color="accent" nzBlock class="full-btn" style="margin-top: 15px;">Buy Popcorn</button>
    </div>
</div>